{% extends "galleria/index.html" %}

{% block content %}


{%if request.user.is_authenticated and request.user == imageobject.owner %}

<h1>Delete imageobject {{ imageobject.id }}?</h1>


<form method="POST" action="">
{% csrf_token %}
Are you sure you want to delete this post? 
<input type="submit" value="Yes"/>
<a href="/galleria/{{ imageobject.id }}/">Cancel </a>
</form>
{% endif %}

{%if request.user != imageobject.owner %}
<meta http-equiv="Refresh" content="0; url='/g'" />
{% endif %}


{% endblock %}