{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Images</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">


        <link rel="stylesheet" href="{% static '/pages/style.css' %}" type="text/css" />

        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>
    <body>

        <section class="ylaleiska">
            <div>
                {% if user.is_authenticated %}
                Hi {{ user.username }}!
                {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>

            <div id=bl1>
                <p><a href="/g">Front page</a></p>
            </div>

            <div id=bl2>
                <p><a href="{% url 'logout' %}">Log Out</a></p>
            </div>  
        </section>

        {% block content %}
        <div style="width:100%">      
            {% for UserPhoto in UserPhotos %}
            <div style="float:left; width:30%; height:200px; margin-left: 3px">
                <p>{{ UserPhoto.description }}</p>

                <p>{{UserPhoto.tags.all|join:", "}}
                </p>

                <!--Attempts to open the image to a new window-->
                <a href="{{UserPhoto.image.url}}" target="_blank">
                <img src="{{ UserPhoto.image_preview.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
                </a>


                <a href="delete/{{ UserPhoto.id }}">Delete</a>
            </div>
        {% endfor %}
        </div>

        {% endblock %}

    </body>
</html>

