{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Images</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">


        <link rel="stylesheet" href="{% static '/pages/style.css' %}" type="text/css" />

        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>
    <body>

        <section class="ylaleiska">

            <div>
                {% if user.is_authenticated %}
                Hi {{ user.username }}!
                
                {% else %}
                
                <meta http-equiv="Refresh" content="0; url='{% url 'login' %}'" />
                
                {% endif %}
            </div>

            <div id=bl1>
                <p><a href="/g">Front page</a></p>
            </div>

            <div id=bl2>
                <p><a href="{% url 'logout' %}">Log Out</a></p>
            </div>  
        </section>

        {% block content %}

        <div class="col-md-12">
            <h1>Galleriat</h1>
            <p><a href="{% url 'galleria:create_gallery' %}">Create new gallery</a></p>
            <p><a href="{% url 'galleria:image_upload' %}">Upload more images</a></p>

            <br>

            

            <br>
        </div>
        
        {% for UserGallery in UserGalleries %}
        {% if UserGallery.owner == user and UserGallery.private == True %}
            <h2>Private Gallery: {{UserGallery.name}} </h2>
            <p><a href="{% url 'galleria:display_images' id=UserGallery.id %}">Click here to check out {{ UserGallery.name }}</a></p>
            <p><a href="/g/gallerydelete/{{ UserGallery.id }}">Delete gallery</a></p>
        
        {% elif UserGallery.owner == user and UserGallery.private == False %}
            <h2>Public Gallery: {{UserGallery.name}} </h2>
            <p><a href="{% url 'galleria:display_images' id=UserGallery.id %}">Click here to check out {{ UserGallery.name }}</a></p>
            <p><a href="/g/gallerydelete/{{ UserGallery.id }}">Delete gallery</a></p>

        {% elif UserGallery.owner != user and UserGallery.private == False %}
            <h2>Public Gallery: {{UserGallery.name}}</h2>
            <p><a href="{% url 'galleria:display_images' id=UserGallery.id %}">Click here to check out {{ UserGallery.name }}</a></p>
        
        {% else %}
            THERE IS A HIDDEN GALLERY {{UserGallery.name}}
        {% endif %}

        {% endfor %}
        

        {% endblock %}

    </body>
</html>

