.layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.leiska1{
  flex: 1;
  background-color: #113F59;
  padding: 15px;
}

.leiska2{
  flex: 3;
  background-color: #113F59;
  padding: 15px;
}

html {
    background-color: #0A2434;
}

body {
  margin: 0 auto;
  width: 70em;
  color: white;
  font-family: "Open Sans";
}

h1{
  text-align: center;
}
h2,h3,h4,h5,h6 {font-family: "Oswald"}


/* unvisited link */
a:link {
  color: rgb(142, 226, 252);
}

/* visited link */
a:visited {
  color: rgb(69, 159, 182);
}

/* mouse over link */
a:hover {
  color: rgb(57, 201, 165);
}

/* selected link */
a:active {
  color: blue;
}