.layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.leiska1 {
  flex: 1;
  background-color: #113f59;
  padding: 15px;
}

.leiska2 {
  flex: 3;
  background-color: #113f59;
  padding: 15px;
}

.ylaleiska {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

html {
  background-color: #0a2434;
}

body {
  margin: 0 auto;
  width: 70em;
  color: white;
  font-family: "Open Sans";
}

h1 {
  text-align: center;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald";
}

/* unvisited link */
a:link {
  color: rgb(142, 226, 252);
}

/* visited link */
a:visited {
  color: rgb(69, 159, 182);
}

/* mouse over link */
a:hover {
  color: rgb(57, 201, 165);
}

/* selected link */
a:active {
  color: blue;
}

.sqimage{ 
  background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 250px;
  height: 250px;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
  .layout, body{
    width: 100%;
    flex-direction: column;
  }
  .leiska1{
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  body{
    width: 90%;
  }
  .leiska1{
    text-align: center;
  }
}

@media screen and (min-width: 1300px) {
  body{
    width: 60%;
  }
  .leiska1{
    text-align: center;
  }
}
