<style>
  h2 {
      text-align: center;
    }
  @media (min-width: 1px) {
    .loota {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      align-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
    .lootanloota input[type=text], input[type=password] {
      display: flex;
      font-size: 30;
      width: 100%;
      align-content:center;
      align-items:center;
    }
  }
</style>

<section class = "loota">
  <h2>Log In</h2>
  <section class ="lootanloota">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Log In</button>
    </form>
  </section>
</section>